@using ToplantiTakip.WebUI.Infrastructure

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Toplantı Takip</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script>
        CKEDITOR_BASEPATH = '../../../Contents/Themes/ckeditor/';
    </script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ana Sayfa", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Toplantı Talepleri", "Index", "Event", new { area = "Admin" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Toplantı Salonları", "Index", "Room", new { area = "Admin" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Birimler", "Index", "Department", new { area = "Admin" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Kullanıcılar", "Index", "Account", new { area = "Admin" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Roller", "Index", "Role", new { area = "Admin" }, new { @class = "navbar-brand" })
            </div>
            @*<div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav"></ul>
                </div>*@
            <div class="pull-right">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @Html.ActionLink(User.Identity.GetFullName(), "Manage", "Account", new { area = "Admin" }, new { @class = "navbar-brand" })
                        }
                        else
                        {

                        }
                    </ul>
                    <ul class="nav navbar-nav">
                        @Html.ActionLink("Çıkış", "LogOff", "Account", new { area = "" }, new { @class = "navbar-brand" })
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Toplantı Takip Sistemi</p>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
    <script src="~/Scripts/jquery-2.2.1.min.js"></script>

    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Contents/Themes/ckeditor/ckeditor.js"></script>
    @*<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
    @RenderSection("Script2", required: false)

    <script>
        CKEDITOR.replace("FullDescription");
    </script>
    <script type="text/javascript">
        $(function () {
            $('.datetimepicker').datetimepicker({
                locale: 'tr',
                defaultDate: 'now'
            });
           
        });

    </script>


</body>
</html>