@model ToplantiTakip.Domain.Concrete.Room

@{
    ViewBag.Title = "Detaylar";
}

<h2>Detaylar</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoomName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomInfo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoomCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomCapacity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoomAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomImage)
        </dt>

        <dd>
            @if (Model.RoomImage == null)
            {
                <div>No Image</div>
            }
            else
            {
                <img class="img-thumbnail" width="150" height="150"
                     src="@Url.Action("GetImage", "Room",
                        new { Model.RoomId })" />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Güncelle", "Edit", new { id = Model.RoomId }) |
    @Html.ActionLink("Listeye Dön", "Index")
</p>
