@model ToplantiTakip.Domain.Concrete.Event
@{
    ViewBag.Title = "Yeni Talep";
}

<h2>Toplantı Talebi Ekleme</h2>
@using (Html.BeginForm("Create", "Event", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.RoomId, "Salon Adı", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RoomId", (IEnumerable<SelectListItem>)ViewBag.RoomId, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RoomId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EventSubject, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventSubject, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EventSubject, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EventInfo, new { @class = "control-label col-md-2" })
            <div class="col-md-8">

                @Html.TextAreaFor(model => model.EventInfo, new { @id = "FullDescription", @class = "form-control", @rows = "50" })
                @Html.ValidationMessageFor(model => model.EventInfo, "", new { @class = "text-danger" })
                <script>
                    CKEDITOR.replace("FullDescription");
                </script>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datetimepicker"}
                })

                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datetimepicker" } })

                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EventDocument, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <input type="file" name="file" id="file" multiple="multiple" size="40">
                <span class='label label-info' id="upload-file-info"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Listeye Dön", "Index") | <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}
