@model ToplantiTakip.WebUI.Models.EventsListViewModel
@using ToplantiTakip.WebUI.Infrastructure
@using ToplantiTakip.WebUI.HTMLHelpers;


<h2>Toplantılar </h2>

@{
    ViewBag.Title = "Toplantı Talep İşlemleri";
}

<h2>@User.Identity.GetFullName() tarafından Oluşturulan Toplantılar</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Birim Adı")
        </th>
        <th>
            @Html.DisplayName("Salon Adı")
        </th>
        <th>
            @Html.DisplayName("Toplantı Konusu")
        </th>
        <th>
            @Html.DisplayName("Başlangıç Tarihi")
        </th>
        <th>
            @Html.DisplayName("Bitiş Tarihi")
        </th>
        <th>
            @Html.DisplayName("Toplantı Durum")
        </th>

        <th></th>
    </tr>
    @foreach (var item in Model.Events)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Department.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.RoomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventSubject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EventId }) |
                    @Html.ActionLink("Detail", "Details", new { id = item.EventId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EventId })
                </td>*@
        </tr>
    }
</table>
<ul class="pagination">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
</ul>